<!DOCTYPE html>

<html>

<head>
  <title>URL Shortener Microservice | freeCodeCamp.org</title>
  <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
  <link href="/public/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>URL Shortener Microservice</h1>
  <main>
    <section>
      <form action="#" method="POST" id="shortUrlForm">
        <fieldset>
          <legend>URL Shortener</legend>
          <label for="url_input">URL:</label>
          <input id="url_input" type="text" name="url" placeholder="https://www.github.com/wasivis" />
          <input type="submit" value="POST URL" />
        </fieldset>
      </form>
    </section>
  </main>
  <footer>
    <p>By <a href="https://github.com/wasivis">wasivis</a></p>
  </footer>
  <script>
    document.getElementById('shortUrlForm').addEventListener('submit', function (event) {
      event.preventDefault();

      const actionUrl = `https://${window.location.host}/api/shorturl`;

      document.getElementById('shortUrlForm').action = actionUrl;

      this.submit();
    });
  </script>
</body>

</html>